@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
   display: block;
   width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

.page-wrapper {
  display: flex;
}

.personal-info {
  /* display: inline-block; */
  color: #fff;
  padding: 25px;
  background: linear-gradient(to bottom, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
}

.photo {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.subtitle {
  list-style: none;
  margin-top: 20px;
}

.img-fluid {
    object-fit: cover;
    height: 100%;
}

.name {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  
  font-size: 2rem;
}

.title {
  margin-top: 25px;
  margin-bottom: 25px; 
  display: block; 
  font-size: 1.5rem;
  font-weight: 500;
}

.line {
  margin: 20px -25px 20px 0;
  height: 2px;
  background: #fff;

}

.content {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 100;
}



.col {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.33%;
}

[class *= 'col'] {
  display: inline-block;
  
}

.pull-right {
  text-align: right;
  font-weight: 200 ;
}

.experience {
  display: inline-block;
    height: 500px;
    background: none;
    padding: 25px;
}

.experience .line {
  background: #d3d3d3;
}



.experience .subtitle {
  font-size: 20px;
}
.experience .title {
  font-size: 2rem;
}
.experience a {
  color: #000;
}

.proect {
  list-style-position: inside;
}


@media screen and (max-width: 800px) {
  .page-wrapper {
    flex-direction: column;
  }
  .personal-info {
		width: 100%;
	}
	.experience {
		width: 100%;
	}
}